.header-row {
	font-weight: 500;
	border-bottom: 2px solid blue;
}

.data-row {
	border-bottom: 1px solid white;
	display: flex !important;
	align-content: center !important;
	align-items: center !important;
}

.female {
	background: var(--ion-color-primary);
}

.male {
	background: var(--ion-color-light);
}
